@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>

   Garagevägen 5<br />
    810 33 Gävle<br />

    <abbr title="Phone">P:</abbr>
    +46(0)26-102233

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@garage.se">Support@garage.se</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@garage.se">Marketing@garage.se</a>
</address>